.modal-dialog {
  padding-top: 50px;
}
small {
  font-size: 14px;
}
a:hover,
a:focus {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-family: monospace;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
